<section class="recipe section">
  <ul>
    <% @recipes.each do |recipe| %>
      <li class="recipe-item">
        <div>
          <h2><%=link_to recipe.name, recipe_path(recipe.id), class: 'name' %></h2>
          <%= button_to "Remove", recipe_path(recipe.id), method: :delete, class: 'btnCust'%>
        </div>
        <div>
          <%= recipe.description %>
        </div>
      </li>
    <% end %>
  </ul>

  <%= link_to "Add new recipe", new_recipe_path, class: 'btnCust btnMain' %>
</section>