<section class="recipe section">
  <ul>
    <% @public_recipes.each do |recipe| %>
      <li class="">
        <div>
          <%=link_to recipe.name, recipe_path(recipe.id) %>
          <p><%= recipe.user.name %></p>
        </div>
        <div>
          <p>Total items: <%= recipe.foods.count %></p>
          <p>Total price: <%= recipe.total_foods_price %></p>
        </div>
      </li>
    <% end %>
  </ul>
</section>